/* About.css */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: yellow;
  padding: 20px;
  margin-top: 35px;
  animation: fadeIn 1.5s ease-in;
  font-style: italic;
}

.Title {
  width: 100%; /* Full width of the container */
  text-align: center; /* Center-align the text */
  margin-bottom: 20px;
}

.media-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.photo-container, .video-container {
  width: 50%;
  margin: 10px;

}

.photo-container img, .video-container video {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 0px 15px 20px -5px rgba(255, 255, 0, 0.7);
  border-radius: 25px;
}

.image-and-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.new-image-container {
  width: 45%;
  margin-right: 10px;
  box-shadow: 0px 15px 20px -5px rgba(255, 255, 0, 0.7);
  margin-left: 30px;
  border-radius: 35px;
  
}

.new-image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 25px;
}

.order-button-container {
  width: 50%; /* Match the width with the video container */
  display: flex;
  justify-content: center; /* Center the button within the container */
  align-items: center;
  margin-left: auto; /* Push the container to the right */
  margin-right: 10px; /* Same margin as video-container for alignment */ 
  background-color: black;
}

.order-button {
  padding: 45px 85px; /* Increased padding for a larger size */
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: 2px solid black; /* Adding a border */
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  border-radius:35px; /* Rounded corners */
  font-size: 25px; /* Slightly larger font */
  box-shadow: 0px 15px 20px -5px rgba(255, 255, 0, 0.7);
}

.order-button:hover {
  background-color: orange;
  color: white; /* Change text color on hover for contrast */
  box-shadow: 0px 12px 20px -3px rgba(0, 0, 0, 0.7); /* Deeper shadow on hover */
  transform: scale(1.05); /* Slight increase in size on hover */
}

@media (max-width: 768px) {
  .media-container, .image-and-order-container {
    flex-direction: column;
  }

  .photo-container, .video-container, .new-image-container, .order-button-container {
    width: 100%;
    margin-right: 0;
  }

  .order-button {
    padding: 12px 25px;
  }
}
