/* Reset default margins and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Styles for the container with fade-in effect */
.corporate-clients-container {
  color: yellow;
  padding: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s ease-in; /* Add the fade-in animation to the container */
}

/* Modify the CSS for the message-container */
.message-container {
  margin-bottom: 200px;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: yellow; /* Text color */
  box-shadow: 0px 0px 55px 20px rgba(255, 255, 0, 0.7);
}

.message-container p {
  font-size: 1.2em;
  line-height: 1.4;
  max-width: 80%;
  margin: 0 auto;
}

/* Rest of your existing CSS code remains unchanged */
.form-container {
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 0px 0px 55px 20px rgba(255, 255, 0, 0.7);
}

.form-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%; /* Adjusted width for the form fields */
  padding: 0 20px; /* Added padding to the form fields */
}

.form-field label {
  width: 25%;
  text-align: right;
  margin-right: 10px;
}

/* Styles for the phone number input */
.phone-input {
  display: flex;
  align-items: center;
}

.phone-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  text-align: center;
}

.phone-input .divider {
  padding: 0 5px;
  font-weight: bold;
}

/* Styles for the submit button */
.submit-button {
  padding: 10px 15px;
  background-color: yellow;
  color: orangered;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  margin-left: auto; /* Remove this line */
  margin-right: auto; /* Add this line to center the button */
  display: block; /* Add this line to make it a block-level element for centering */
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 0, 0.7);
}

/* Styles for the disabled submit button */
.submit-button.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: orange;
}

/* Add the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
