/* Reset default margins and padding */
body, html {
  margin: 0;
  padding: 0;
  background-color: black; /* Set background color for the whole page */
}

/* Set the background color of the main container */
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px; /* Below the navbar */
  background-color: black; /* Background color */
  height: calc(100vh - 80px); /* Adjust height to fill the remaining viewport */
  width: 100%; /* Ensure it spans the full width */
}

.left-container, .right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px); /* Same height for both containers */
}

.left-img, .left-img-indented {
  object-fit: contain;
  width: 85%; /* Set width to 85% of its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 0px;
  border-radius: 15px;

}

/* Move the top image up */
.left-container .left-img:first-child {
  margin-top: -20px;
  margin-left: 20px;
  margin-bottom: -55px;
}

/* Style for the indented image */
.left-img-indented {
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Move the bottom image down */
.left-container .left-img:last-child {
  margin-top: -55px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.right-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image vertically */
  padding-left: 20px; /* Optional spacing */
}

.right-img {
  max-height: calc(100vh - 80px);
  object-fit: contain; /* Adjust to prevent image distortion */
  margin: 20px;
  border-radius: 15px;
}
